.btn
    @include border-radius($btn-border-radius)
    font-weight:    $font-weight + 100
    font-family:    $font-family
    background:     $btn-bg-color
    border:         none
    padding:        5px 40px
    font-size:      $btn-font-size
    color:          #fff
    cursor:         pointer

    &:focus, &:visited, &:active
        outline: none

    &.filter
        padding:    5px 10px
        background: none
        color:      $text-color
        border:     $btn-border-width solid $text-color

        &.open
            position: relative
            background: $btn-bg-color
            border-color: $btn-bg-color
            color:  #fff
            z-index: 999

        &.selected
            background: $btn-bg-color
            border-color: $btn-bg-color
            color:  #fff

    &.small
        padding:    5px 20px

    &.blank
        background: none
        padding:    0px

.listing-btn
    @include border-radius($btn-border-radius)
    font-size:      $btn-font-size
    padding:        2px 12px
    font-weight:    $font-weight + 100
    background:     #fff
    color:          $text-color
    border:         $btn-border-width solid #333

    &.white
        border-color:   #fff
        background:     none

.mobile-menu-btn
    @extend .btn
    width:          100%
    font-size:      $btn-font-size
    padding:        15px 10px
    font-weight:    $font-weight + 100
    background:     none
    color:          white
    text-align:     center

    &:focus, &:visited, &:active
        outline: none


.mobile-menu-close-btn
    @extend .mobile-menu-btn
    font-size:  $btn-font-size + 10
    padding:    5px 10px
    text-align: right

#creation-save
    color:      #fff
    padding:    0px

.text-btn
    background:         none
    border:             none
    font-size:          14px
    text-decoration:    none
    cursor:             pointer

    &:focus
        outline: none

.white
    color: #fff

.property-creation-top-nav
    .nav.right
        padding-right: 15px

.property-creation-nav, .edit-profile-nav

    .left
        @extend .listing-btn
        border:     none
        background: none
        color:      #fff
        float:      left
        padding:    4px 0px

    .right
        @extend .listing-btn
        background:     none
        border-color:   #fff
        color:          #fff
        float:          right

a.btn
    @extend .btn
    text-decoration:    none
    display:            inline-block

.link
    background:         none
    border:             none
    padding:            1px 0px
    font-size:          12px
    position:           relative
    cursor:             pointer
    text-decoration:    none
    color:              $text-color

    &:before
        content:            ''
        border-bottom:      solid thin $section-separator-color
        position:           absolute
        left:               0px
        bottom:             0px
        width:              100%
        transform-origin:   left
        transition:         0.5s ease-in-out
        transform:          scaleX(0)

    &:hover:before
        transform: scaleX(1)

    &:focus
        outline: none

.property-settings-btn
    background:     none
    border:         none
    cursor:         pointer
    padding:        0px
    margin-left:    auto

    &:focus, &:visited, &:active
        outline: none

    img
        width:  15px
        height: 15px
