label 
    display: block
    font-family: $font-family
    font-size: $form-font-size
    
.form-control
    border: none
    width: 100%
    font-size: $form-font-size
    padding: 5px 0px
    
    &:focus
        outline: none
    
.form-group
    margin-bottom: 10px