#hero-banner
    padding: 100px 0px
    text-align: center

.tagline
    width: 100%

    h1, h2, h3, h4, h5
        margin: 0px
        display: inline-block

    .description
        margin-left: 5px

.secondary
    background-color: $brand-secondary
    padding: 60px

    h1, h2, h3, h4, h5, p
        color: #fff
