#hero-banner
    padding: 100px 0px

    .tagline
        text-align: center

    #search
        width:  100%
        max-width: 600px
        margin: 0px auto

#content-page
    .row
        padding: 60px

    .secondary
        background-color: $brand-secondary

        h1, h2, h3, h4, h5, p
            color: #fff
    @media screen and (max-width: $grid-xs)
        .row
            padding: 30px

.row
    .sub-header
        margin-top:     0px
        margin-bottom:  5%

    @media screen and (min-width: $grid-xs)
        .sub-content-left
            padding-right: 35px

        .sub-content-right
            padding-left: 35px

    @media screen and (max-width: $grid-xs)
        .sub-header
            text-align: center

        .sub-content-right
            padding-top: 30px

