@font-face
  font-family: 'icons'
  src:  url('fonts/custom-icons.eot')
  src:  url('fonts/custom-icons.eot') format('embedded-opentype'), url('fonts/custom-icons.ttf') format('truetype'), url('fonts/custom-icons.woff') format('woff'), url('fonts/custom-icons.svg') format('svg')
  font-weight: normal
  font-style: normal

.icon
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family:        'icons' !important;
    speak:              none;
    font-style:         normal;
    font-weight:        normal;
    font-variant:       normal;
    text-transform:     none;
    line-height:        1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &.accessible:before
        content: "\e900"

    &.apartment:before
        content: "\e901"
        color: #6f6f6f

    &.basement:before
        content: "\e902"
        color: #6f6f6f

    &.bathrooms:before
        content: "\e903"
        color: #6f6f6f

    &.bedrooms:before
        content: "\e904"
        color: #6f6f6f

    &.dishwasher:before
        content: "\e905"

    &.power:before
        content: "\e918"
        color: #fff

    &.exercise:before
        content: "\e907"

    &.full-house:before
        content: "\e906"
        color: #6f6f6f

    &.furnished:before
        content: "\e908"

    &.garage:before
        content: "\e909"

    &.heat:before
        content: "\e916"
        color: #fff

    &.laundry:before
        content: "\e90c"

    &.internet:before
        content: "\e90a"

    &.kids:before
        content: "\e90b"

    &.main-floor:before
        content: "\e913"
        color: #6f6f6f

    &.other:before
        content: "\e90d"
        color: #6f6f6f

    &.parking-included:before
        content: "\e90e"

    &.pets:before
        content: "\e90f"

    &.pool:before
        content: "\e910"

    &.single-room:before
        content: "\e914"
        color: #6f6f6f

    &.size:before
        content: "\e912"
        color: #6f6f6f

    &.smoking:before
        content: "\e911"

    &.water:before
        content: "\e91a"
        color: #fff
