@font-face
  font-family: 'icons'
  src:  url('fonts/custom-icons.eot')
  src:  url('fonts/custom-icons.eot') format('embedded-opentype'), url('fonts/custom-icons.ttf') format('truetype'), url('fonts/custom-icons.woff') format('woff'), url('fonts/custom-icons.svg') format('svg')
  font-weight: normal
  font-style: normal

.icon
  font-family: 'icons' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.icon
    &.accessible:before
      content: "\e900"

    &.apartment .path1:before
      content: "\e901"
      color: rgb(222, 222, 222)

    &.apartment .path2:before
      content: "\e902"
      margin-left: -1em
      color: rgb(111, 111, 111)

    &.apartment .path3:before
      content: "\e903"
      margin-left: -1em
      color: rgb(111, 111, 111)

    &.basement .path1:before
      content: "\e904"
      color: rgb(111, 111, 111)

    &.basement .path2:before
      content: "\e905"
      margin-left: -1em
      color: rgb(222, 222, 222)

    &.basement .path3:before
      content: "\e906"
      margin-left: -1em
      color: rgb(111, 111, 111)

    &.basement .path4:before
      content: "\e907"
      margin-left: -1em
      color: rgb(111, 111, 111)

    &.bathrooms:before
      content: "\e908"
      color: #6f6f6f

    &.bedrooms:before
      content: "\e909"
      color: #6f6f6f

    &.dishwasher:before
      content: "\e90a"

    &.power:before
      content: "\e90b"
      color: #fff

    &.exercise:before
      content: "\e90c"

    &.full-house .path1:before
      content: "\e91c"
      color: rgb(222, 222, 222)

    &.full-house .path2:before
      content: "\e91d"
      margin-left: -1em
      color: rgb(111, 111, 111)

    &.full-house .path3:before
      content: "\e91e"
      margin-left: -1em
      color: rgb(111, 111, 111)

    &.furnished:before
      content: "\e91f"

    &.garage:before
      content: "\e920"

    &.heat:before
      content: "\e921"
      color: #fff

    &.laundry:before
      content: "\e922"

    &.internet:before
      content: "\e90d"

    &.kids:before
      content: "\e90e"

    &.main-floor .path1:before
      content: "\e90f"
      color: rgb(111, 111, 111)

    &.main-floor .path2:before
      content: "\e910"
      margin-left: -1em
      color: rgb(222, 222, 222)

    &.main-floor .path3:before
      content: "\e911"
      margin-left: -1em
      color: rgb(111, 111, 111)

    &.main-floor .path4:before
      content: "\e912"
      margin-left: -1em
      color: rgb(111, 111, 111)

    &.other .path1:before
      content: "\e913"
      color: rgb(222, 222, 222)

    &.other .path2:before
      content: "\e914"
      margin-left: -1em
      color: rgb(111, 111, 111)

    &.other .path3:before
      content: "\e915"
      margin-left: -1em
      color: rgb(111, 111, 111)

    &.parking-included:before
      content: "\e916"

    &.pets:before
      content: "\e917"

    &.pool:before
      content: "\e918"

    &.size:before
      content: "\e919"
      color: #6f6f6f

    &.smoking:before
      content: "\e91a"

    &.water:before
      content: "\e91b"
      color: #fff
