/**
 * Styling used for the websites layout.
 */

#main-header
    position: relative
    overflow: hidden

    .nav
        list-style: none
        float: right
        display: inline-block

        .nav-item
            display: inline-block
            color: $nav-text-color
            margin-right: 20px

            &:last-of-type
                margin-right: 0px

            a
                text-decoration: none
                font-family: $font-family
                font-size: $nav-font-size
                outline: none
                color: $nav-text-color
                cursor: pointer 
                
                &:visited
                    color: $nav-text-color
                    text-decoration: none

            button
                text-decoration: none
                font-family: $font-family
                font-size: $nav-font-size
                color: $nav-text-color
                outline: none
                background: none
                border: none
                font-weight: 400

.hidden 
    display: none