/**
 * Styling used for the websites layout.
 */
body
    margin: 0px

#app
    position: relative
    overflow: hidden

#main-header
    position: relative
    overflow: hidden

    .logo-wrapper
        float: left
        margin: 20px
        cursor: pointer

        img
            width: 30px
            height: 30px

#creation-header
    position: relative
    overflow: hidden

    .logo-wrapper
        float: left
        margin: 26px
        cursor: pointer

        img
            width: 30px
            height: 30px

    .nav

        .nav-item
            border-bottom: 2px solid lighten($nav-text-color, 30%)
            margin: 0px -2px
            padding: 0px 10px

            button
                color: lighten($nav-text-color, 30%)

            &.selected
                border-bottom: 2px solid $nav-text-color

                button
                    color: $nav-text-color

.hidden
    display: none

.nav
    margin-top: 30px
    margin-bottom: 30px
    padding: 0px

.nav, .footer-nav
    list-style: none
    display: inline-block

    &.right
        float: right
        padding-right: 30px

    .nav-item, .footer-nav-item
        display: inline-block
        color: $nav-text-color
        margin-right: 20px

        &:last-of-type
            margin-right: 0px

        a
            text-decoration: none
            font-family: $font-family
            font-size: $nav-font-size
            outline: none
            color: $nav-text-color
            cursor: pointer
                
        &:visited
            color: $nav-text-color
            text-decoration: none

        button
            text-decoration: none
            font-family: $font-family
            font-size: $nav-font-size
            color: $nav-text-color
            outline: none
            background: none
            border: none
            font-weight: 400

.footer-nav
    background: $footer-color
    width: 100%
    text-align: right
    padding: 20px
    margin: 0px

    .footer-nav-item
        margin-right: 25px

        &:last-of-type
            margin-right: 25px

        a
            font-size: $footer-font-size
            font-weight: bold
            color: $footer-font-color
