/**
 * Styling used for the websites layout.
 */

html, body, #app
    height: 100%

body
    margin: 0px

#main-header
    display: flex
    justify-content: flex-start

    .logo-wrapper
        margin: 20px
        cursor: pointer

        img
            width: 30px
            height: 30px

    #profile-icon
        margin: 20px 20px 20px 0px

        a
            background: none
            border: none

    #main-filters
        margin: 20px 10px 0px 10px


.hidden
    display:    none
    visibility: hidden

.nav
    margin-top:     20px
    margin-bottom:  30px
    padding:        0px

.nav, .footer-nav
    list-style: none
    display:    inline-block

    &.right
        margin-left:    auto
        padding-right:  30px

    .nav-item, .footer-nav-item
        display:        inline-block
        color:          $nav-text-color
        margin-right:   20px

        &:last-of-type
            margin-right: 0px

        a
            text-decoration:    none
            font-family:        $font-family
            font-size:          $nav-font-size
            outline:            none
            color:              $nav-text-color
            cursor:             pointer
            padding:            2px 20px

        &:visited
            color:              $nav-text-color
            text-decoration:    none

        button
            text-decoration:    none
            font-family:        $font-family
            font-size:          $nav-font-size
            color:              $nav-text-color
            outline:            none
            background:         none
            border:             none
            font-weight:        400
            margin-top:         10px

#footer
    position: relative
    overflow: hidden

    .footer-nav
        background: $footer-color
        width:      100%
        text-align: right
        padding:    20px
        margin:     0px

        .footer-nav-item
            margin-right: 25px

            &:last-of-type
                margin-right: 25px

            a
                font-size:      $footer-font-size
                font-weight:    bold
                color:          $footer-font-color

.modal-actions
    margin-top:         40px
    display:            flex
    justify-content:    flex-end

.contact-owner-modal .v-modal-content
    max-width: 600px
    min-width: 500px