#creation-header
    position: relative
    overflow: hidden

    .logo-wrapper
        float:  left
        margin: 13px
        cursor: pointer

        img
            width:  40px
            height: 40px

    .nav

        .nav-item
            border-bottom:  2px solid lighten($nav-text-color, 30%)
            margin:         0px -2px
            padding:        0px 10px

            button
                color: lighten($nav-text-color, 50%)

            &.selected
                border-bottom: 2px solid $nav-text-color
                font-weight: bold

                button
                    color: $nav-text-color

#new-property-content
    padding: 20px 5px

    .amenities
        margin-left: -10%
        margin:      30px 0px

    .utilities
        margin:         15px 0px 40px 0px
        margin-right:   30px
        margin-top:     10px

.creation-section-wrapper
    padding-left:   75px
    padding-right:  20px

    h2
        margin-bottom: 30px

#new-property-graphics
    width:              100%
    overflow:           hidden
    position:           relative
    display:            flex
    flex-direction:     column
    justify-content:    center
    height:             100%
    padding:            0px 20px

    .property-creation-top-nav
        flex:       1 1 10%
        display:    flex

    #left-side-content
        flex: 1 1 80%

    .property-creation-nav
        flex: 1 1 10%

.utilities
    .utility
        background:     #eee
        display:        inline-block
        font-size:      45px
        border-radius:  50%
        line-height:    0.8
        margin-right:   30px
        margin-top:     10px

    #power.selected
        background: #ffb200

    #water.selected
        background: #34a0e0

    #heat.selected
        background: #dd4545

.amenities

    .amenity
        color:          lighten($text-color, 50%)
        display:        inline-block
        font-size:      40px
        line-height:    0.8
        width:          25%
        margin-bottom:  10%
        text-align:     center

        h5
            color:              lighten($text-color, 50%)
            display:            inline-block

        &:nth-child(3n)
            margin-right: 0px

        &.selected
            color: $text-color

            h5
                color:              $text-color
                text-decoration:    none

#left-side-content
    p
        color: #fff
