#property-listings-index
    border-top:     solid thin $text-color
    height:         100%
    margin-left:    20px

    #property-listings-wrapper
        height:         100%
        padding-right:  15px
        padding-top:    15px

        .property-scroller
            display:        flex
            flex:           1
            flex-direction: column
            overflow:       auto
            height:         91%

        .property-listings
            display:            flex
            flex-flow:          wrap
            justify-content:    space-between

            .single-property-wrapper
                flex:           0 0 48%

#property-listings
    overflow-y: scroll
    height:     100%

.filter-greyout
    position:   fixed
    height:     100%
    width:      100%
    left:       0px
    top:        0px
    background: $filter-bg
    z-index:    2

#home-type-dropdown, #price-range-dropdown, #more-filters-dropdown
    padding:        10px
    background:     #fff
    z-index:        3
    position:       absolute
    top:            55px
    border-radius:  5px
    width:          auto

    label
        font-size:      16px
        font-weight:    $font-weight

.filter-utilities
    display: flex

    .utility
        margin-right: 5px

    .utility-wrapper
        display:        flex
        align-items:    center
        cursor:         pointer

        .utility
            font-size:      25px
            margin-top:     5px
            margin-bottom:  10px

#property-sub-filters
    display: flex

    div
        margin-right: 10px

        .filter
            width:  100%
            height: 100%

        &:last-of-type
            margin-right: 0px

    .filter-actions
        display:        flex

        .filter-clear
            flex:           0 0 50%
            font-size:      12px
            font-weight:    $font-weight + 100
            color:          $text-color
            cursor:         pointer
            margin:         0px
            justify-self:   flex-start

        .filter-apply
            @extend .filter-clear
            justify-self:   flex-end
            color:          $brand-secondary
            text-align:     right

.property-listings-warning
    display:            flex
    margin:             0px auto
    justify-content:    center
    align-items:        center
    height:             100%
    padding:            0px 20px

    .error-content
        padding:        40px
        padding-right:  0px

        h1
            margin:     0px
            margin-top: 95px
            font-size:  60px

        h3
            margin:     0px
            margin-top: 10px

@media screen and (min-width: 1000px)
    #property-listings-wrapper

        .property-listings

            .single-property-wrapper
                flex: 0 0 31%

@media screen and (max-width: $grid-xs)
    #property-listings-index #property-listings-wrapper

        .property-listings

            .single-property-wrapper
                flex: 0 0 100%

        #property-sub-filters .form-group
            flex: 1

    .property-listings-warning
        flex-direction: column;

        .error-content
            padding:    0px
            text-align: center

            h1
                margin-top: 40px
