#new-property-content
    padding: 20px

.creation-section-wrapper
    padding: 0px 60px

    h2
        margin-bottom: 30px

#new-property-graphics
    width: 100%
    overflow: hidden
    position: relative
