.profile-info-header
    display: flex
    cursor:  pointer

    .profile-picture-wrapper
        margin-right: 10px

    .profile-info
        display:            flex
        flex-direction:     column
        justify-content:    center

        h1
            margin-right: 10px

        h1, h3
            margin: 0px

        h5
            margin-top: 5px

        .profile-desc
            max-width:     700px

#edit-profile-graphics
    width:              100%
    overflow:           hidden
    position:           relative
    display:            flex
    flex-direction:     column
    justify-content:    center
    height:             100%
    padding:            0px 20px

    .edit-profile-top-nav
        flex:       1 1 10%
        display:    flex

    #left-side-content
        flex: 1 1 80%

    .edit-profile-nav
        flex: 1 1 10%

.creation-section-wrapper
    .references-header,
    .history-header,
    .pets-header
        display:        flex
        margin-bottom:  30px

        h2
            margin:         0px

        .link
            margin-left:    auto
            align-self:     flex-end

.reference-form,
.property-form,
.pet-form
    margin-bottom: 20px

    &-header
        display:        flex
        font-family:    $font-family
        padding-bottom: 2px
        border-bottom:  solid thin $section-separator-color
        margin-bottom:  10px

        .text-btn
            margin-left: auto

.rental-histories-wrapper
    font-family:    $font-family
    font-weight:    $font-weight
    margin-bottom:  40px
    max-width:      700px

    .rental-history-wrapper
        margin:         10px 0px
        padding:        20px
        background:     #f9f9f9

        .rental-history-header
            display: flex

            .verification-notice
                margin-left: auto
                color:       $warning

                .verified
                    color: $success

        .rental-period, .rental-location, .landlord-details, .verification-notice
            line-height: 1.5


    .btn
        margin-top: 5px

.reviews-wrapper
    margin-bottom: 40px
    max-width:     700px


.references-wrapper
    max-width:      700px
    font-family:    $font-family
    font-weight:    $font-weight
    margin-bottom:  40px

    .reference-wrapper
        margin:     10px 0px
        padding:    20px
        background: #f9f9f9

        .reference-header
            display: flex

            .verification-notice
                margin-left: auto
                color:       $warning
                line-height: 1.5

                .verified
                    color: $success

    .reference-user, .reference-relation
        line-height: 1.5

    .btn
        margin-top: 5px

#view-profile-page
    margin: 0px 20px

    .profile-picture-wrapper
        margin-bottom: 30px

    .properties-wrapper
        padding-bottom: 30px
        border-bottom:  solid thin $section-separator-color

.linked-accounts
    display: flex

    .account
        display:      flex
        margin-top:   10px
        margin-right: 10px

        .icon-wrapper
            width:        25px
            height:       25px
            margin-right: 5px

            &.reviews
                padding:        5px
                border:         solid thin $text-color
                border-radius:  5px

                h5
                  margin-top:  0px
                  text-align:  center
                  line-height: 1

            img
                width: 100%

.details-wrapper
    max-width:      700px
    font-family:    $font-family
    font-weight:    $font-weight
    margin-bottom:  40px

    .general-details
        margin:       10px 0px
        padding:      20px
        padding-left: 40px
        background:   #f9f9f9

    .pets-wrapper
        margin:     10px 0px
        padding:    20px
        background: #f9f9f9

@media screen and (max-width: $grid-xs)
    #view-profile-page
        .reviews-wrapper
            padding-top: 30px

    #edit-profile-content
        padding-bottom: 80px

        .creation-section-wrapper
            padding: 20px
