.profile-info-header
    display: flex
    cursor:  pointer

    .profile-info
        display:            flex
        flex-direction:     column
        justify-content:    center
        padding-left:       10px

        h1
            margin-right: 10px

        h1, h3
            margin: 0px

        h5
            margin-top: 5px

#edit-profile-graphics
    width:              100%
    overflow:           hidden
    position:           relative
    display:            flex
    flex-direction:     column
    justify-content:    center
    height:             100%
    padding:            0px 20px

    .edit-profile-top-nav
        flex:       1 1 10%
        display:    flex

    #left-side-content
        flex: 1 1 80%

    .edit-profile-nav
        flex: 1 1 10%

.creation-section-wrapper
    .references-header, .history-header
        display:        flex
        margin-bottom:  30px

        h2
            margin:         0px

        .link
            margin-left:    auto
            align-self:     flex-end

.reference-form, .property-form
    margin-bottom: 20px

    &-header
        display:        flex
        font-family:    $font-family
        padding-bottom: 2px
        border-bottom:  solid thin $section-separator-color
        margin-bottom:  10px

        .text-btn
            margin-left: auto
