// Navigation
$nav-text-color: #333
$nav-font-size: 16px

// Typography
$font-family: "Roboto", sans-serif
$text-color: #333
$form-font-size: 16px

// Buttons
$btn-border-color: #333
$btn-border-radius: 5px
$btn-border-width: 1.5px
$btn-font-size: 16px
