// Branding
$brand-primary:             #45dd91 // Green
$brand-secondary:           #34a0e0 // Blue
$site-width:                1200px
$section-separator-color:   #8B8B8B

// Navigation
$nav-text-color:    #333
$nav-font-size:     14px

// Footer
$footer-color:      $brand-primary
$footer-font-color: #fff
$footer-font-size:  16px

// Typography
$font-family:       "Roboto", sans-serif
$font-weight:       300
$text-color:        #333
$light-text-color:  #b5b5b5
$warning:           #EB5757
$success:           $brand-primary

// Buttons
$btn-border-radius: 5px
$btn-border-width:  thin
$btn-font-size:     16px
$btn-bg-color:      $brand-primary

// Grid sizing
$grid-rg: 1600px
$grid-sm: 1200px
$grid-xs: 956px

// Forms
$form-border:         solid thin #B5B5B5
$form-border-radius:  1px
$form-font-size:      16px

// Filters
$filter-bg: #ABABAB85
