// Navigation
$nav-text-color: #333
$nav-font-size: 15px

// Typography
$font-family: "Roboto", sans-serif
$text-color: #333

// Buttons
$btn-border-color: #333
$btn-border-radius: 8px
$btn-border-width: 1.5px
